/* stylelint-disable comment-empty-line-before */
.question {
  font-family: 'MonteCarlo', cursive;
  animation: fadein 2s;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
  /* Animation */

  background-image: url('./assets/background/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
  position: relative;
  z-index: -1;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.35) 45% 55%, rgba(90, 88, 95, 0.25) 75% 85%, rgba(255, 255, 255, 0));
  background-size: 600% 100%;
  background-position: right;
  animation: change 5s infinite alternate;
  transition: ease-in-out;
}

@keyframes change {
  0% {
    background-position: right;
    transition: 0.5s;
  }

  80% {
    background-position: left;
    transition: 0.5s;
  }

  100% {
    background-position: left;
    transition: 0.5s;
  }
}

.app {
  z-index: 1;
  background-color: #273034;
  width: 28vw;
  min-height: 1vh;
  height: min-content;
  border-radius: 15px;
  padding: 6%;
  margin-top: 20%;
  margin-bottom: 0%;
  box-shadow: 10px 10px 42px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  animation: fadein 2s;
}

.score-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(3px + 1.5vw);
  margin-top: 35%;
  margin-bottom: 15%;
  justify-content: center;
  align-content: center;
  transition: 1s;
  animation: fadein 2s;
  text-shadow: 4px 4px 4px #000;
}

@keyframes glow {
  to {
    text-shadow: 5px 5px 40px rgb(0, 106, 136);
  }
}

.house {
  display: flex;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  transition: 3s;
  animation: fadein 5s, glow 1s infinite alternate;
  font-family: 'MonteCarlo', cursive;
  font-size: calc(6px + 3.5vw);
}

.part-two {
  animation: fadein 2s;
  margin-left: 5vw;
  margin-right: 5vw;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  animation: fadein 2s;
}

.question-count {
  margin-bottom: 20px;
  font-family: 'MonteCarlo', cursive;
  animation: fadein 0.5s;
}

.question-count span {
  font-size: 2.5vw;
  font-family: 'MonteCarlo', cursive;
  animation: fadein 0.5s;
}

.question-text {
  margin-bottom: 1.8vh;
  line-height: 1.6;
  animation: fadein 0.5s;
  font-size: calc(5px + 0.8vw);
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadein 2s;
}

button {
  width: 26vw;
  font-size: calc(4px + 0.7vw);
  color: #fff;
  background-color: transparent;
  border-radius: 7px;
  display: flex;
  padding: 3%;
  margin-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #927c6c;
  cursor: pointer;
  transition: 0.5s;
}

.intro-part {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.intro-text {
  align-self: center;
  justify-content: center;
  text-align: justify;
  text-align-last: center;
  font-size: calc(0.7vw + 6px);
  font-weight: lighter;
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 140%;
}

.intro-exp {
  align-self: center;
  justify-content: center;
  text-align: justify;
  text-align-last: center;
  font-size: calc(0.7vw + 4px);
  font-style: italic;
  font-weight: 100;
  color: #f5f382;
  margin-bottom: 5%;
  line-height: 140%;
}

.start-button {
  width: 15vw;
  font-size: calc(5px + 2vw);
  font-family: 'MonteCarlo', cursive;
  align-self: center;
  color: #fff;
  background-color: transparent;
  border-radius: 7px;
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid #927c6c;
  cursor: pointer;
  transition: 0.5s;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #f33;
}

button:hover {
  background-color: #814b4a;
  transition: 0.5s;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
