html {
  background-color: rgb(23, 13, 72);
  align-items: center;
}

.welcome-title {
  text-align: center;
  margin: 20px;
}

.home-section {
  position: relative;
  height: 100%;
  background-color: rgb(23, 13, 72);
  overflow: hidden;
}

.house-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
}

.house-cards img {
  width: 100%;
  height: 100%;
}

card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 10px;
  padding: 10px;
  border: 2px solid #c0972f;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
  color: #c0972f;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.box {
  position: relative; /* mandatory */
  width: 140px;
  height: 140px;
}

.quiz-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
  color: #c0972f;
  font-size: 1.5rem;
  font-weight: bold;
}

.quiz-link a {
  color: #c0972f;
  text-decoration: none;
}

.quiz-link a:hover {
  color: #f6f1e5;
  text-decoration: underline;
}

.hat-question {
  font-size: 2rem;
  color: #c0972f;
}

.sorting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

span {
  font-size: larger;
  color: rgb(192, 151, 47);
  font-weight: bold;
}
