body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(252, 250, 250);
  margin: 0;
  padding: 0;
}

.house-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "house-info house-info"
    "house-characters house-characters";
  grid-gap: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 3px;
  border: #c0972f 3px solid;
}

.grid-item {
  color: #faf9f9;
  border: 1px solid #c0972f;
}

.character-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.character-card p {
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.charimg {
  max-width: 100px;
  max-height: 200px;
  min-width: 200px;
  min-height: 300px;
  border-radius: 30px;
  border: 2px solid #c0972f;
}
